# Force Yarn to use the project's .yarnrc
--use-yarnrc ".yarnrc"

# Set network timeout to handle slow connections
network-timeout 300000

# Disable generating lockfile
save-prefix ""

# Use exact versions
save-exact true
